/*******************************************************************************
 * RUNBOX DARK COLORSCHEME FOR ROFI 
 * User                 : ceeslans               
 * Theme Repo           : https://godknowswherestheinter.com
 *******************************************************************************/

* {
    bg0:    #242424EE;
    bg1:    #7E7E7E80;
    bg2:    #6E6E6EEE;

    fg0:    #DEDEDE;
    fg1:    #FFFFFF;
    fg2:    #DEDEDE75;
}

@import "runbox-common.rasi"
