/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #FEFBFDF2;
    bg1:    #FEFBFD;
    bg2:    #FEFBFD78;
    bg3:    #F2CBE5;
    fg0:    #191B1C;
    fg1:    #000000;
    fg2:    #525B5E;
    fg3:    #75746A;
}

@import "common/rounded-common.rasi"
