/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #252626F2;
    bg1:    #252626;
    bg2:    #25262678;
    bg3:    #454545;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #AFB2B3;
    fg3:    #939596;
}

@import "common/rounded-common.rasi"
