/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #89ABB0F2;
    bg1:    #95BABF;
    bg2:    #95BABF78;
    bg3:    #D06F72;
    fg0:    #191B1C;
    fg1:    #000000;
    fg2:    #213D00;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
