/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #F6F5F4F2;
    bg1:    #F6F5F4;
    bg2:    #F6F5F4;
    bg3:    #3584E4;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #AFB2B3;
    fg3:    #939596;
}

@import "common/rounded-common.rasi"
