/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #151617F2;
    bg1:    #151617;
    bg2:    #15161778;
    bg3:    #3E4547;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #B3CFE6;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
