/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #2B2A29F2;
    bg1:    #2B2A29;
    bg2:    #2B2A2978;
    bg3:    #57544E;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #AFB2B3;
    fg3:    #939596;
}

@import "common/rounded-common.rasi"
