/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #252629F2;
    bg1:    #252629;
    bg2:    #25262978;
    bg3:    #42444A;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #D5DADE;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
