/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #1C2129F2;
    bg1:    #1C2129;
    bg2:    #1C212978;
    bg3:    #3D4882;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #B3CFE6;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
