/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #91908BF2;
    bg1:    #91908B;
    bg2:    #91908B78;
    bg3:    #C4C3BF;
    fg0:    #191B1C;
    fg1:    #000000;
    fg2:    #D9D8D3;
    fg3:    #75746A;
}

@import "common/rounded-common.rasi"
