/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #212B36F2;
    bg1:    #212B36;
    bg2:    #212B3678;
    bg3:    #1F7350;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #B3CFE6;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
