/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #111D1FF2;
    bg1:    #111D1F;
    bg2:    #111D1F78;
    bg3:    #74A148;
    fg0:    #D8E4EB;
    fg1:    #EAF7FF;
    fg2:    #B3CFE6;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
