/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #25313DF2;
    bg1:    #25313D;
    bg2:    #25313D78;
    bg3:    #2C5B8A;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #B3CFE6;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
