/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #33373DF2;
    bg1:    #33373D;
    bg2:    #33373D78;
    bg3:    #9E4143;
    fg0:    #E6EAED;
    fg1:    #FFFFFF;
    fg2:    #BDCEDB;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
