/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #131617F2;
    bg1:    #131617;
    bg2:    #13161778;
    bg3:    #3A454D;
    fg0:    #C9D4D4;
    fg1:    #FFFFFF;
    fg2:    #B3CFE6;
    fg3:    #839299;
}

@import "common/rounded-common.rasi"
