/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #1D2B33F2;
    bg1:    #1D2B33;
    bg2:    #1D2B3378;
    bg3:    #005E66;
    fg0:    #BDE0E6;
    fg1:    #FFFFFF;
    fg2:    #BDDEE6;
    fg3:    #7A9499;
}

@import "common/rounded-common.rasi"
