/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #1D2024F2;
    bg1:    #1D2024;
    bg2:    #1D202478;
    bg3:    #4A525C;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #C1D2E0;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
