/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #1F2626F2;
    bg1:    #1F2626;
    bg2:    #1F262678;
    bg3:    #354D4B;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #B3CFE6;
    fg3:    #838F99;
}

@import "common/rounded-common.rasi"
