/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #1C1C1CF2;
    bg1:    #1C1C1C;
    bg2:    #1C1C1C78;
    bg3:    #353D3C;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #AFB2B3;
    fg3:    #939596;
}

@import "common/rounded-common.rasi"
