/**
 * color scheme for nakeDeb rofi theme by arpinux
 * used for 'nakedquit' exit dialog
 * color scheme : Lilidog Forge colors
 */

* {
    background:     #23272B;
    border:         #191B1F;
    element-normal: #2F353D;    
    element-select: #2E586E;
    text-normal:    #DBDBDB;
    text-select:    #F0F0F0;
}
 
@import "nakedeb/nakedquit-common.rasi"
