[Desktop Entry]
Type=Application
Name=Fastfetch
Exec=x-terminal-emulator -T 'Fastfetch' -e bash -c "fastfetch; bash"
StartupNotify=false
Terminal=true
Icon=utilities-system-monitor
Categories=System;Monitor;
