[Desktop Entry]
Type=Application
Version=1.0
Name=Install Lilidog
GenericName=Calamares Installer
Exec=install-lilidog
Comment=Installer password is live
Keywords=calamares;system;install;debian;installer
Icon=install-debian
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
