[Desktop Entry]
Type=Application
Name=SOWM Installer
Exec=/usr/local/bin/sowm-installer
StartupNotify=false
Terminal=true
Icon=applications-system
Categories=ld-misc-tools;
