[Desktop Entry]
Type=Application
Name=DWM Installer
Exec=/usr/local/bin/dwm-installer
StartupNotify=false
Terminal=true
Icon=applications-system
Categories=ld-misc-tools;
