[Desktop Entry]
Type=Application
Name=DKWM Installer
Exec=/usr/local/bin/dk-installer
StartupNotify=false
Terminal=true
Icon=applications-system
Categories=ld-misc-tools;
