[Desktop Entry]
Type=Application
Name=Auto Themes
Exec=ld-themes
StartupNotify=false
Terminal=false
Icon=org.xfce.settings.color
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
