[Desktop Entry]
Type=Application
Name=Window Manager Installers
Exec=/usr/local/bin/window-manager-installers
StartupNotify=false
Terminal=false
Icon=applications-other
Categories=ld-misc-tools;
