[Desktop Entry]
Type=Application
Name=Plymouth Themes
Exec=x-terminal-emulator -T 'Plymouth Theme Changer' -e bash -c "plymouth-changer; bash"
StartupNotify=false
Terminal=false
Icon=applications-graphics
Categories=ld-misc-tools;
