[Desktop Entry]
Type=Application
Name=Rofi Clear Cache
Exec=rm -f .cache/rofi3.druncache
StartupNotify=false
Terminal=false
Icon=user-trash
Categories=ld-misc-tools;
