[Desktop Entry]
Type=Application
Name=Reset Theming
Exec=x-terminal-emulator -T 'Reset theming to system defaults' -e bash -c "set-default-theme; bash"
StartupNotify=false
Terminal=false
Icon=applications-graphics
Categories=ld-misc-tools;
