[Desktop Entry]
Type=Application
Name=Lilidog Theme Options
Exec=ld-theme-changer
StartupNotify=false
Terminal=false
Icon=applications-graphics
Categories=ld-misc-tools;
