[Desktop Entry]
Type=Application
Name=Terminal Themes
Exec=ld-term-changer
StartupNotify=false
Terminal=false
Icon=utilities-terminal
Categories=ld-theme-tools;
