[Desktop Entry]
Type=Application
Name=Upgrade Options
Exec=update-options
StartupNotify=false
Terminal=false
Icon=applications-system
Categories=GNOME;GTK;Settings;System;Utility;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
